[submodule ".vim/pack/submodules/start/nerdtree"]
	path = .vim/pack/submodules/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/submodules/start/vim-polyglot"]
	path = .vim/pack/submodules/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/submodules/start/nerdtree-git-plugin"]
	path = .vim/pack/submodules/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule ".vim/pack/submodules/start/editorconfig-vim"]
	path = .vim/pack/submodules/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/pack/submodules/start/vim-snippets"]
	path = .vim/pack/submodules/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "./.vim/pack/submodules/opt/ultisnips"]
	path = ./.vim/pack/submodules/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "./.vim/pack/submodules/opt/windows-powershell-syntax-plugin"]
	path = ./.vim/pack/submodules/opt/windows-powershell-syntax-plugin
	url = https://github.com/vim-scripts/Windows-PowerShell-Syntax-Plugin
