# ignore everything
*

# whitelist
!.gitignore
!.gitmodules
!.vimrc
!.gvimrc
!.vim/
!.vim/**
!.config/
!.config/alacritty/
!.config/alacritty/**

# Vim-Plug
.vim/plugged

# Swap file cache
.vim/swapfiles

.vim/.netrwhist
.vim/view

!register_no_ext_editor.bat
!user_path.*
