# typical home storage directories
Desktop
Documents
Downloads
Music
Pictures
Videos

# Common Storage Apps
Dropbox
OneDrive

# Windows stuff
AppData
Contacts
Favorites
Links
Searches
VirtualBox\ VMs
*.lnk
.thumbnails

# file types to ignore
*.swp
~*

# other git repositories
git/

# security issues
.ssh

# Dependency manager repositories
.cargo
.ivy2
.m2
.p2

# editor extensions
.vscode/extensions

# other
eclipse
IzPack
.atom
ntuser.*
.ant
.eclipse
.jmc
.gimp*
.nbi
.nbprofiler
.netbeans*
.oracle*
.VirtualBox
.vim/plugged
.ICEauthority
.Xauthority
.Xclients
.bash_history
.bash_logout
.bash_profile
.bashrc
.dir_colors
.dmrc
.esd_auth
.extend.bashrc
.lesshst
.profile
.steampath
.steampid
.viminfo
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xinitrc
.xprofile
.xsession-errors
.xsession-errors.old
