[submodule ".vim/pack/submodules/start/vim-polyglot"]
	path = .vim/pack/submodules/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/submodules/start/editorconfig-vim"]
	path = .vim/pack/submodules/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
	branch = master
[submodule ".vim/pack/submodules/start/vim-snippets"]
	path = .vim/pack/submodules/start/vim-snippets
	url = https://github.com/honza/vim-snippets
	branch = master
[submodule ".vim/pack/submodules/opt/windows-powershell-syntax-plugin"]
	path = .vim/pack/submodules/opt/windows-powershell-syntax-plugin
	url = https://github.com/vim-scripts/Windows-PowerShell-Syntax-Plugin
[submodule ".vim/pack/submodules/opt/tagbar"]
	path = .vim/pack/submodules/opt/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/pack/submodules/opt/vim-hug-neovim-rpc"]
	path = .vim/pack/submodules/opt/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule ".vim/pack/submodules/opt/nvim-yarp"]
	path = .vim/pack/submodules/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule ".vim/pack/submodules/start/coc.nvim"]
	path = .vim/pack/submodules/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule ".vim/pack/submodules/opt/vim-signify"]
	path = .vim/pack/submodules/opt/vim-signify
	url = https://github.com/mhinz/vim-signify
	branch = master
[submodule ".vim/pack/submodules/opt/vimspector"]
	path = .vim/pack/submodules/opt/vimspector
	url = https://github.com/puremourning/vimspector
	branch = master
[submodule ".vim/pack/submodules/start/fzf.vim"]
	path = .vim/pack/submodules/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/submodules/start/fzf"]
	path = .vim/pack/submodules/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/submodules/opt/vCooler.vim"]
	path = .vim/pack/submodules/opt/vCooler.vim
	url = https://github.com/KabbAmine/vCoolor.vim
	branch = master
