[submodule ".vim/pack/submodules/start/nerdtree"]
	path = .vim/pack/submodules/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/submodules/start/vim-polyglot"]
	path = .vim/pack/submodules/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/submodules/start/nerdtree-git-plugin"]
	path = .vim/pack/submodules/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule ".vim/pack/submodules/start/editorconfig-vim"]
	path = .vim/pack/submodules/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/pack/submodules/start/vim-snippets"]
	path = .vim/pack/submodules/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/pack/submodules/opt/ultisnips"]
	path = .vim/pack/submodules/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/submodules/opt/windows-powershell-syntax-plugin"]
	path = .vim/pack/submodules/opt/windows-powershell-syntax-plugin
	url = https://github.com/vim-scripts/Windows-PowerShell-Syntax-Plugin
[submodule ".vim/pack/submodules/opt/tagbar"]
	path = .vim/pack/submodules/opt/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/pack/submodules/opt/vim-hug-neovim-rpc"]
	path = .vim/pack/submodules/opt/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule ".vim/pack/submodules/opt/nvim-yarp"]
	path = .vim/pack/submodules/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule ".vim/pack/submodules/start/coc.nvim"]
	path = .vim/pack/submodules/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/pack/submodules/opt/vim-mipssyntax"]
	path = .vim/pack/submodules/opt/vim-mipssyntax
	url = git://github.com/HarnoRanaivo/vim-mipssyntax.git
