# ignore everything
*

# whitelist
!.gitignore
!.gitmodules
!.vimrc
!.gvimrc
!.vim/
!.vim/**
!AppData/Local/Microsoft/Windows Terminal/settings.json
!scoop/apps/conemu/current/ConEmu/ConEmu.xml

# Vim-Plug
.vim/plugged

# Swap file cache
.vim/swapfiles

.vim/.netrwhist
.vim/view

!register_no_ext_editor.bat
!user_path.*
