@import url("file:///usr/share/sway/templates/waybar/style.css");

#custom-playerctl {
    background-color: @theme_bg_color;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 10px;
    margin-right: 5px;
    color: #808080;
}

#custom-playerctl.playing {
    background-color: @theme_selected_bg_color;
    color: black;
}

#custom-playerctl.paused {
    background-color: @theme_bg_color;
    color: white;
}
